body {
    margin: 0 20px;
}

.pics {
    margin-left: 127px;
}
    .pics img {
        max-width: 50px;
        max-height: 40px;
    }


.post {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
}
    .post img {
        max-width: 200px;
        max-height: 150px;
    }
