body {
    margin: 0 20px;
}


.content {
    margin-left: 30px;
}


.posts .pics {
    margin-left: 127px;
}
    .posts .pics img {
        max-width: 50px;
        max-height: 40px;
    }


.post {
    text-align: justify;
}
    .post img {
        max-width: 200px;
        max-height: 150px;
    }


.sidebar {
    margin-left: 30px;
}
