<!DOCTYPE html>
<html lang="ru">
<head>
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta charset="utf-8">
  <title>{% block title -%}yaml-blog{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lightbox/css/lightbox.css') }}">
  {% block head_extra %}{% endblock %}
</head>

<body>
  <div class="pure-g-r">
    <div class="pure-u-2-3">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="sidebar">
        {% block sidebar %}
          {% include 'sidebar-tags.html' %}
          {% block sidebar_extra %}{% endblock %}
        {% endblock %}
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lightbox/js/lightbox-2.6.min.js') }}"></script>

  {% block body_extra %}{% endblock %}
</body>
</html>
